<div class="container col-sm-12">

    <h3 class="text-xs-center">{{lesson?.description}}</h3>

    <h5>Duration: {{lesson?.duration}}</h5>

    <div class="text-xs-center>">
        <iframe *ngIf="lesson?.videoUrl"
                width="260" height="200" frameborder="0" allowfullscreen
                [src]="lesson?.videoUrl | secureUrl">
        </iframe>
    </div>

    <h5>Description:</h5>
    <p>{{lesson?.longDescription}}</p>

    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
            <button type="button" (click)="onPrevious(lesson)"
                    class="btn btn-secondary">
                &lt; Prev
            </button>
            <button type="button" (click)="onNext(lesson)"
                    class="btn btn-secondary">
                Next &gt;
            </button>
        </div>
        <div class="btn-group" role="group" aria-label="Second group">
            <button type="button" (click)="onBack()"
                    class="btn btn-secondary">
                Back
            </button>
            <button type="button" routerLink="edit"
                    class="btn btn-primary">
                Edit
            </button>
        </div>
        <div class="btn-group" role="group" aria-label="Third group">
            <button id="btnGroupDrop1" type="button"
                    class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Delete ...
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <a class="dropdown-item" (click)="onDelete()">Delete</a>
                <a class="dropdown-item" (click)="onDeleteViaRest()">Delete via REST</a>
                <a class="dropdown-item" (click)="onDeleteRequest()">Request Deletion</a>
            </div>
            <!--
            <button type="button" (click)="onDelete()"
                    class="btn btn-danger">
                Delete
            </button>
            <button type="button" (click)="onDeleteViaRest()"
                    class="btn btn-danger">
                Delete via REST
            </button>
            <button type="button" (click)="onDeleteRequest()"
                    class="btn btn-danger">
                Request Deletion
            </button>
            -->
        </div>
    </div>

    <div>
        <jo-tut-message [message]="message"></jo-tut-message>
    </div>

</div>
