<div class="container jo-profile-form">

    <h2 class="text-xs-center">User Profile</h2>

    <jo-tut-profile-form #form
                         mode="profile"
                         [user]="user">
    </jo-tut-profile-form>

    <div class="form-group row offset-sm-3 col-sm-6">
        <button (click)="onSave(form.value)" [disabled]="!form.valid" class="btn btn-lg btn-primary btn-block">Save</button>
        <button (click)="onBack()" class="btn btn-lg btn-secondary btn-block">Back</button>
    </div>

</div>
